section{
    text-align: center;
    border: solid;
    width: 50%;
    height: 50%;
    margin: 10% auto;
    padding: 40px;
}

a{
    font-size: 40px;

}



a:visited{
    color: #FCB941;
}

a:hover{
    text-decoration: none;
    background-color: #7E3661;
    color: white;
}

a:active{
    font-size: 3em;
}